* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #00396C;
}

span {
  color: #E8E87C;
}

.signup {
  background-color: white;
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 24px;
  display: flex;
  padding: 8px;
}
.signup form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signup form h1 {
  font-size: 48px;
}
.signup form h3 {
  font-size: 24px;
}
.signup form input {
  padding: 16px;
}
.signup form .names {
  display: flex;
  justify-content: space-between;
}
.signup form .input-group span {
  color: #00396C;
}
.signup button {
  margin-top: 24px;
}
.signup .links {
  display: flex;
  flex-direction: column;
}
.signup .links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.signup .links a:hover {
  color: #00396C;
}